#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em;
  text-align: center; 
}

.advice {
  background-color: var(--dark-grayish-blue);
  padding: 1.5em;
  margin: 5em auto 0;
  border-radius: 8px;
  max-width: 500px;
}

.advice-number {
  text-transform: uppercase;
  color: var(--neon-green);
  font-size: .65rem;
  font-weight: 400;
  letter-spacing: 3px;
}

.advice-quote {
  font-size: 1.5rem;
  font-weight: 600;
}

.divider {
  width: 100%;
  margin: 2em 0 1.75em;
}

.btn {
  border: none;
  background-color: var(--neon-green);
  border-radius: 100%;
  padding: 1.25em;
  text-align: center;
  cursor: pointer;
  margin-top: -10em;
}

.btn:hover {
  box-shadow: 0 0 25px 1px var(--neon-green);
}

.dice-icon {
  margin-top: .18em;
}

@media (min-width: 500px) {
  * {
    margin: 0;
    padding: 0;
  }
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
  }

  /* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

  .advice { margin: 0 ;}

  .advice-quote { font-size: 1.75rem; }

  /* .btn { margin-top: -2.25em;} */
}
